/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}


.movie-box {
  border: 1px solid black;
  width: 30vw;
}

.movies-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

ul {
  text-decoration: none;
}

.li-style {
  font-size: 25px;
  text-decoration: none;
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: lightblue;
}

.pagination-top {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-box:hover {

}

